.SignaturePadFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #EEEEEE !important;
}

.SignaturePadCanvas {
    margin: auto;
    background-color: white !important;
}